In [3]:
from sklearn.metrics import mean_squared_error
import os 
import numpy as np
from matplotlib import pyplot as plt 
import pandas as pd
from sklearn import preprocessing
from pandas import read_csv
from sklearn.metrics import mean_absolute_error
from pandas import read_csv
from pandas import datetime

/var/folders/cv/9wyhthmx21d7ylr5zx17lfmr0000gn/T/ipykernel_4321/946583044.py:10: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  from pandas import datetime

<Strong> Computing the common sense model </Strong>

In [4]:
df = pd.read_csv('shampoo.csv')

In [5]:
dfValues = df.values[:,1]

shiftedData = pd.Series(dfValues).shift(1)
Data=pd.Series(dfValues)
dataframe = pd.DataFrame({'t-1':shiftedData, 't+1' : Data})
dataframe.head()

     t-1    t+1
0    NaN  266.0
1  266.0  145.9
2  145.9  183.1
3  183.1  119.3
4  119.3  180.3

<Strong> So we want to predicts tomorrows weather , by predicting it will be todays. </Strong>

In [7]:
X = dataframe.values

In [8]:
train_size = int(len(X) * 0.66)

In [9]:
train, test = X[1:train_size] , X[train_size:]

#Bacially t-1 is in train_X and t+1's in train_y
train_X, train_y = train[:,0], train[:,1]
test_X, test_y = test[:,0], test[:,1]

In [13]:
train_X

array([266.0, 145.9, 183.1, 119.3, 180.3, 168.5, 231.8, 224.5, 192.8,
       122.9, 336.5, 185.9, 194.3, 149.5, 210.1, 273.3, 191.4, 287.0,
       226.0, 303.6, 289.9, 421.6], dtype=object)

In [11]:
# persistence model
def model_persistence(x):
	return x

In [12]:
# walk-forward validation

predictions = list()

for x in test_X:
    
	yhat = model_persistence(x)
	predictions.append(yhat)
    
test_score = mean_absolute_error(test_y, predictions)

print('Test MSE: %.3f' % test_score)

Test MSE: 112.446