In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../../../cryptoData/BTC_15m_data.csv")

In [3]:
df

,date,open,high,low,close,volume
0,2017-08-17 04:00:00,4261.48,4280.56,4261.48,4261.48,2.189061
1,2017-08-17 04:15:00,4261.48,4270.41,4261.32,4261.45,9.119865
2,2017-08-17 04:30:00,4280.00,4310.07,4267.99,4310.07,21.923552
3,2017-08-17 04:45:00,4310.07,4313.62,4291.37,4308.83,13.948531
4,2017-08-17 05:00:00,4308.83,4328.69,4304.31,4304.31,5.101153
...,...,...,...,...,...,...
155486,2022-01-28 14:45:00,36684.11,36828.38,36600.00,36759.65,560.007760
155487,2022-01-28 15:00:00,36759.65,37198.00,36682.24,37149.99,649.317780
155488,2022-01-28 15:15:00,37150.00,37300.00,36925.89,36988.91,1061.113920
155489,2022-01-28 15:30:00,36985.43,37115.32,36874.46,37022.42,452.420950
155490,2022-01-28 15:45:00,37023.86,37271.54,37000.34,37231.02,254.796250